RewriteEngine On

# Every URL that doesn't point to an existing file or folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# URL in the form of /pagename/id
RewriteRule ^(\w+)/(\d+)/?$ index.php?page=/$1&id=$2 [L]

# URL in the form of /pagename
RewriteRule ^(\w+)/?$ index.php?page=/$1 [L]